@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --mobile-width: 375px;
    --desktop-width: 1440px;

    --box-border-radiux: 20px;

    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
}
@media screen and (max-width: 480px) {
    :root {
        --box-border-radiux: 12px;
    }
}

html,
body,
#root {
    height: 100%;
}

body {
    min-width: 375px;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--cream);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
